.card {
  background-color: #fcfbfa;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: 1px solid var(--border);
}

.description {
  font-size: 1rem;
  color: var(--text-light);
}

.price {
  font-weight: 600;
  color: var(--accent);
  font-size: 1.1rem;
  text-align: right;
}
